*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: calc(100vh - 40px);
}

.main-box {
    height: 100%;
}

.window {
    display: flex;
    margin-top: 20px;
    height: 100%;
    background-color: aquamarine;
    /* overflow: hidden; */
}

aside {
    max-width: 350px;
    height: 100%;
}



/* *********************
     MY PROFILE
********************* */

.profile {
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.profile span {
    font-size: 0.7rem;
    font-weight: 600;
    padding-left: 5px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 6px;
}

.profile ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-right: 15px;
}

.profile ul li {
    padding-left: 10px;
    color: #B1B1B1;
}


/* *************************
        SUGGESTION
************************* */

.suggestion {
    display: flex;
    background-color: #8EDAFC;
    align-items: center;
    height: 60px;
}

.suggestion-icon i {
    padding: 13px 11px;
    background-color: white;
    margin-left: 15px;
    border-radius: 25px;
    color: #8EDAFC;
}

.suggestion-text span {
    font-size: .8rem;
    margin-left: 10px;
    font-weight: 600;
}

.suggestion-text p {
    margin-bottom: 2px;
    font-size: .7rem;
    margin-left: 10px;
    margin-top: -4px;
}

.suggestion-text p a{
    color: rgb(131, 131, 131);
}


/* ***************************
           SEARCH
*************************** */

.search {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}

.search span {
    padding:  2px 30px 2px 30px;
    color: #B1B1B1;
    background-color: white;
    border: 1px solid rgb(238, 238, 238);
    margin-left: 10px;
}

.search input {
    width: 100%;
    margin-right: 10px;
    border: 1px rgb(238, 238, 238);
    border-style: solid solid solid none;
    padding-top: 2px;
    padding-bottom: 2px;
}


/* ****************************
           CONTACTS
**************************** */

.contacts {
    height: calc(100% - 155px);
    overflow-y: scroll;
    width: 100%;
    background-color: white;
}

.contacts ul{
    /* width: 100%; */
    list-style: none;
    margin-left: -32px;
}

.contact img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 15px;
}

.contact {
    display: flex;
    height: 60px;
    /* width: 100px; */
    align-items: center;
    cursor: pointer;
    border-top: 1px solid rgb(241, 239, 239);
    width: 100%;
}

.contact:hover {
    background-color: #E9EBEB;
}

.detail-contact {
    margin-left: 15px;
    width: 80%;
}

.detail-contact span {
    font-size: 0.8rem;
    font-weight: 600;
}

.contact .detail-contact p {
    font-size: 0.6rem;
    color: #B7BCBF;
    margin-top: -4px;
}

.contact p {
    font-size: 0.6rem;
    margin-top: -18px;
    margin-right: 5px;
    color: #B7BCBF ;
}


/* *********************
         ASIDE 
********************* */



/* *************************
          MAIN
************************* */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

}



/* ***************************
          CONTACT PROFILE 
*************************** */

.profile-contact{
    height: 50px;
    display: flex;
    background-color: #EAEAEA;
    align-items: center;
    border-left: 1px solid lightgray;
    justify-content: space-between;
}   

.contact-info {
    display: flex;
}

.profile-contact img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 5px;
    margin-top: 10px;
}

.detail-profileContact {
    margin-top: 12px;
    margin-left: 5px;
}

.detail-profileContact span {
    font-size: 0.8rem;
    font-weight: 600;
    
}

.detail-profileContact p {
    font-size: 0.6rem;
    color: #B7BCBF;
    margin-top: -5px;
}

.setting-icons {
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

.setting-icons li {
    margin-right: 10px;
    float: right;
    color: #B1B1B1;
}


/* **************************
        MESSAGE BOX 
************************** */

.message-box {
    background-image: url(../img/mine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100% - 100px);
    overflow-y: scroll;
}
    
.message {
    display: flex;
    width: 100%;

}

.message-content {
    display: flex;
}

.sent {
    background-color: #D5F9BA;
    color: black; 
    align-self: flex-end; 
    margin: 10px 10px;
    border-radius: 10px;
    padding: 20px 30px;
}


.message .received {
    background-color: #FFFFFF;
    color: black;
    align-self: flex-start;
    margin: 5px 10px;
    border-radius: 10px;
    padding: 20px 30px;
}

/* ***************************
        TYPE BAR
*************************** */

.type-bar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3EEEA;
}

.type-bar input{
    height: 30px;
    display: flex;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 3px;
}

.emojis{
    padding-left: 20px;
    padding-right: 20px;
    color: #6B7376;
    cursor: pointer;
}

.audio{
    padding-left: 20px;
    padding-right: 20px;
    color: #6B7376;
    cursor: pointer;

}